body {background: #61626b;
background-size: fill;}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

#container {font-family: Arial, Helvetica, sans-serif;
width: 50%;
padding: 16px;}

input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #b9b9c5;
  color: black;
  font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.Cancel_btn {
  padding: 14px 20px;
  background-color: #f44336;
}

.Cancel_btn, .Signup_btn {
  float: left;
  width: 50%;
  padding: 1em;
}

.buttons::after {
content:"";
clear: both;
display: table;
}

@media screen and (max-width: 300px) {
  .Cancel_btn, .Signup_btn {
     width: 100%;
  }
}