#Header_container {
	padding:1mm;
	width:110%;
	text-align:left;
	background-color:#000000;
	color: rgb(255, 255, 255);
	}

body {
	font-size: 1em;
	width: 100%;
	margin: 0 auto;
	letter-spacing: 0.5px;

}
#content {
	padding: 1.5em;
	background: rgb(139, 139, 139, 0.589);
	border-radius: 10px;
}

#Title_container {
	padding: 1em;
	text-align: center;
	border-radius: 10px;
	}

@media(min-width:700px) {
	#content {
		width: 60%;
		margin-top: 2em;
		margin-left: 18%;
	}
}