#Header_container {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1px;
	text-align: left;
	background-color:#000000;
	color: rgb(255, 255, 255);
	font-size: 1em;
	letter-spacing: 0.5px;
	}

#content {
	font-family: Arial, Helvetica, sans-serif;
	padding: 1.5em;
	background: rgb(139, 139, 139);
	border-radius: 10px;
	width: 350px;
	margin:50px auto;
	border: 2px solid rgb(0, 0, 0);
}

#Title_container {
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 0.5px;
	}

hr {
color: #000000;
border: 2px solid;
margin-top: -.5em;
margin-bottom: -.5em;
}

h3 {
	font-size: 1.4em;
	margin-bottom: .5em;
	text-align: center;
}

label {
	font-size: 1.2em;
}

input[type=text], input[type=password]{
	width: 80%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	font-size: 14px;
}

input[type=text]:focus, input[type=password]:focus{
	background-color: #ddd;
	outline: none;
}

button {
  background-color: rgb(212, 196, 47);
  color: black;
  padding: 10px;
  margin: 2px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  opacity: 0.9;
  font-size: 16px;
  letter-spacing: 0.5px;
}

button:hover {
  opacity:1;
}

.Sign_in, .Remember_lab {
	float: left;
}

.Remember_lab {
	margin-top: .5em;
	margin-left: .5em;
}

.Account_tools {
	font-size: 1em;
	margin-top: 3em;
	color: #000000;
	text-decoration: none;
}

.Account_tools a {
color: #000000;
text-decoration: none;	
}

.Account_tools a:hover {
	text-decoration: underline;
}